*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.pdf
*.apk
*.png
*.jpg
*.jpeg
*.webp
*.hprof
*.py
process_icon.py
app/build/
app/release/
